services:
  - type: web
    name: verifid
    env: php
    region: singapore
    plan: free
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      npm ci
      npm run build
      php artisan config:clear
      php artisan route:clear
      php artisan view:clear
      php artisan storage:link
      php artisan migrate:fresh --force 
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "false"
      - key: APP_KEY
        generateValue: true
      - key: APP_URL
        sync: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        sync: false
      - key: LOG_CHANNEL
        value: errorlog
      - key: SESSION_DRIVER
        value: cookie